<<<<<<< HEAD
.row{
    padding: 10px;
}

.card-text{
    text-align: center;
}

#kep1, #kep2, #kep3{
    width: 200px;
    height: 250px;
}

body{
    margin: 20px;
}
=======
body {
    position: relative;
    padding-bottom: 60px;
  }
>>>>>>> 396140a0160d828ba68c35ea06a01c5ecd8a61bc
